<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@android:drawable/btn_star_big_on"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TPAnexo1MenuConLogin"
        tools:targetApi="31">
        <service
            android:name=".ServicioMusica"
            android:enabled="true"
            android:exported="true">

        </service>

        <activity
            android:name=".NavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.TPAnexo1MenuConLogin.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>